.text-center {
    text-align: center;
}

@each $color,
$value in $pallete {
    .text-#{$color} {
        color: $value;
    }

    .bg-#{$color} {
        background-color: $value;
    }
}

@for $i from 1 through 15 {

    $padding: $i - 1;

    .pt-#{$padding} {
        padding-top: $padding !important;
    }
    .pr-#{$padding} {
        padding-right: $padding !important;
    }
    .pb-#{$padding} {
        padding-bottom: $padding !important;
    }
    .pl-#{$padding} {
        padding-left: $padding !important;
    }
}