.section {
    display: block;
    padding: 2.5em 0;

    @include responsive_from($md-screen) {
        padding: 3.5em 0;
    }

    @include responsive_from($lg-screen) {
        padding: 5em 0;
    }
}

.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}